@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

.iconContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px;
  width: 70%;
}

.homeMain {
  display: flex;
  justify-content: center;
  width: 100%;
}

.icons {
  font-size: 80px;
  margin: 20px;
  color: #035c7d;
}

.icons:hover {
  opacity: 0.8;
}

#chooseHeading {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 20px;
}

#createButton {
  background-color: #035c7d;
  color: white;
  margin-left: 5px;
}

#listrTitle {
  color: inherit;
  text-decoration: none;
}


.listItem {
  display: flex;
  width: 100%;

}

.expansionPanel {
  width: 100%;
}

.itemHeading {
  display: grid;
  grid-template-columns: 40% 30% 30%;
  width: 100%;
  font-size: 15px;
  text-shadow: 1px 1px 1px rgba(131, 131, 131, 0.294);

}

footer {
  display: flex;
  width: 98%;
 justify-content: center;

}

.loadingDiv {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 20px;

}
#progress{
  color: orangered;
}

#scoreMobile {
  display: none;
}

#distance {
  display: none;
}

@media (max-width: 600px) {

.itemHeading {
  display: flex;
  justify-content: space-between;
}

#distance {
  display: none;
}

#scoreMobile {
  display: inline;
}

#score {
  display: none;
}

#listerHook{
display: none;
}

}