
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

.iconContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px;
  width: 60%;
}

.homeMain {
display: flex;
justify-content: center;
width: 100%;
}

.icons {
  font-size: 80px;
  margin: 20px;
}
.icons:hover {
  opacity: .8;
}

#chooseHeading {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 20px;
}